.skeleton {
    p {
        font-family: var(--font-family);
        font-weight: 700;
        font-size: 18px;
        color: #000;
        text-align: center;
    }

    &__wrapper {
        margin-top: 3rem;
        display: grid;
        width: 100%;
        grid-template-columns: 1fr;
        grid-template-rows: 3.5rem;
        grid-auto-rows: 3.5rem;
        gap: 1.5rem;
        animation: opac 2s ease-in infinite;
    }


    &__first-line {
        display: flex;
        gap: .9rem;
        justify-content: space-between;
        align-items: center;
    }

    &__circle {
        width: 3.75rem;
        height: 3.75rem;
        border-radius: 100%;
        background-color: #c4c4c4;;
    }

    &__first {
        background-color: #c4c4c4;
        width: calc(100% - 4rem - 0.9rem);
        height: 1.6rem;
    }

    &__line {
        background-color: #c4c4c4;;
    }

}

@keyframes opac {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0.5;
    }
    100% {
        opacity: 1;
    }
    
}