@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');


:root {
  font-size: 10px;

  --font-family: "Roboto Condensed", sans-serif;
  --second-family: "Roboto", sans-serif;

}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scrollbar-color:  rgb(71, 18, 18) beige;
    scrollbar-width: thin;
    

}

.container {
  max-width: 114rem;
  margin: 0 auto;
}
html {
  overflow-y: scroll;
}

a {
  text-decoration: none;
  color: inherit;
}